.grid-items {
  max-width: 22%;
  margin: 0 auto;
  height: 100px;
  background: white;
  width: 50%;
  padding: 20px;
  margin: 2em;
  padding-left: 30px;
  float: left;
  padding-bottom: 30%;
  border-style: ridge;
  border-radius: 3rem;
}
.card {
  .card-image img {
    padding-left: 20%;
    width: 200px;
    height: 200px;
  }
  .card-button button {
    text-align: center;
    padding: 5px 50px 5px 50px;
    margin-left: 15%;
    margin-top: 40px;
    border-radius: 5rem;
    align-self: flex-start;
  }
  .card-button button:hover {
    background-color: black;
    color: white;
  }
  .card-description {
    overflow: auto;
    white-space: normal;
    height: 3em;
    text-overflow: -o-ellipsis-lastline;
  }
}
