.grid-items {
  max-width: 20%;
  text-align: left;
  margin: 0 auto;
  height: 130px;
  background: white;
  width: 20%;
  padding: 20px;
  margin: 2.3em;
  display: grid;
  padding-right: 55px;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 300px;
  overflow: hidden;
  padding-left: 10px;
  float: left;
  padding-bottom: 30%;
  border-style: ridge;
  border-radius: 3rem;
}
.card {
  .card-image img {
    padding-left: 10%;
    width: 200px;
    height: 200px;
  }
  .card-button button {
    text-align: center;
    padding: 5px 10px 5px 10px;
    margin-left: 15%;
    margin-top: 40px;
    border-radius: 5rem;
    align-self: flex-start;
  }
  .card-button button:hover {
    background-color: black;
    color: white;
  }
  .card-description {
    overflow: scroll;
    white-space:normal;
    height: 3em;
    width: 320px;
    text-overflow: -o-ellipsis-lastline;
  }
  .card-title{
    overflow: hidden;
    width: 300px;

  }
}


