.list-styles {
  list-style: none;
  background-color: white;
  border-color: white;
  border-style: ridge;
  border-radius: 3rem;
  display: flex;
  .list-image img {
    padding: 25px;
    width: 200px;
    height: 200px;
    border-radius: 5rem;
  }
  button {
    display: flex;
    padding: 5px 50px 5px 50px;
    margin-top: 30px;
    border-radius: 5rem;
  }
  button:hover {
    background-color: black;
    color: white;
  }
}
