body{
  margin: 40px;
}

.categories {
  text-transform: uppercase;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  width: 400px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
 .products{
  display: flex;
 }

 .checkbox-filter{
  padding: 10px;
  white-space: nowrap;
  margin-right: 50px;
  border-right: 2px solid black;
 }

 .filtering-checkbox {
  float: start;
  display: block;
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 10%;
  border-right: 2px solid gray;
  margin-right: 10px;
}

.products {
  display: flex;
}