body{
  margin: 40px;
}

.top {
  display: flex;
  margin-left: 45%;
  .switch {
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    display: inline-block;
    margin-top: 25px;
    width: 23px;
    height: 17px;

    .input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #2196f3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(8px);
    -ms-transform: translateX(8px);
    transform: translateX(8px);
  }
}

.categories {
  text-transform: uppercase;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  width: 400px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
 .products{
  display: flex;
 }

 .checkbox-filter{
  padding: 10px;
  white-space: nowrap;
  margin-right: 50px;
  border-right: 2px solid black;
 }

 .filtering-checkbox {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 10%;
  border-right: 2px solid gray;
  margin-right: 10px;
}

.products {
  display: flex;
  float: start;
}