body {
  margin: 40px;
}

.categories {
  text-transform: uppercase;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  width: 400px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.products {
  display: flex;
}

.division-left {
  border-left: 2px solid gray;
  padding-left: 10px;
}